:root{
	--color-primary: #358ed7;
	--color-secondary: #34495e;
	--color-light:#f8f4f4;
	--color-red:#f54b5e;
	--color-green:#48d2a0;
	--color-yellow:#f8c61c;
	--color-white:#ffffff;
	--color-labels:#858585;
	--color-light-grey:#adafb2;
	--color-grey:#79878e;
	--opacity-disabled:0.5;
	--font-size-h1:64px;
	--font-size-h2:48px;
	--font-size-h3:40px;
	--font-size-h4:36px;
	--font-size-h5:24px;
	--font-size-other:14px;
}
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
html,body{
	font-family: 'Arial', sans-serif;
	font-size:16px;
	line-height:16px;
	color: var(--color-secondary);
	max-width: 1600px;

}
body{
	position: relative;
}
.h-level{
	font-weight: bold;
}
.h-level-1{
	font-size: var(--font-size-h1);
	margin-bottom:36px;
	line-height: 0.75;
}
.h-level-2{
	font-size: var(--font-size-h2);
	margin-bottom:31px;
	line-height: 1;
}
.h-level-3{
	font-size: var(--font-size-h3);
	line-height: 1.2;
}
.h-level-4{
	font-size: var(--font-size-h4);
	line-height: 1.33;
}
.h-level-5{
	font-size: var(--font-size-h5);
	margin-bottom:20px;
	line-height: 1;
}
.paragraph{
	color:#222;
	line-height:1.75;
	max-width:600px;
}
.menu{
	list-style: none;
}
.menu__a{
	display:block;
  color: var(--color-secondary);
  padding-right:20px;
  font-size:var(--font-other);
	text-decoration: none;
}
.menu__a:hover{
	text-decoration:underline;
}
.menu li{
	display:inline-block;
	position:relative;
}
.menu li:not(:last-child)::after{
	background: url("icon/icon-arrow.svg") no-repeat center center;
	width:12px;
	height:12px;
	content:"";
	position:absolute;
	right:5px;
	top:3px;
}
.link{
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	color:var(--color-secondary);
}
.link:hover{
	text-decoration: underline;
	color: #b0b0b0;
	font-size:14px;
}
.link:active{
	text-decoration: underline;
	color:var(--color-secondary);
}
.select{
	width:300px;
	height:50px;
	padding:15px 15px;
	border-radius: 3px;
  border: solid 1px #dddddd;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background:url("icon/arrow-down.svg") no-repeat 270px center;
	background-size: 12px;
}
.select:hover{
	border-color:var(--color-secondary);
}
.select:active{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
 	border-color: #55acee;
	background-image:url("icon/arrow-up.svg");
}
.select option{
	border-right:solid 1px #55acee;
	border-left:solid 1px #55acee;
}

.select::-ms-expand {
    display: none;
}


.step{
	padding-left:45px;
	position:relative;
	line-height:30px;
	font-size:14px;
	display:inline-block;
	text-transform:uppercase;
	margin-right:100px;
}
.step:last-child{
	margin-right:0;
}
.step-1::before,
.step-2::before,
.step-3::before,
.step-4::before,
.step-1::after,
.step-2::after,
.step-3::after,
.step-4::after,
.step-success::before
{
	width:30px;
	height:30px;
	content:"";
	position:absolute;
	left:0;
	top:0;
	font-weight:bold;
}
.step-1::after,
.step-2::after,
.step-3::after,
.step-4::after{
	color:var(--color-white);
	left:10px;
}
.step-1::after{
	content:"1";
}
.step-2::after{
	content:"2";
}
.step-3::after{
	content:"3";
}
.step-4::after{
	content:"4";
}
.step-1::before,
.step-2::before,
.step-3::before,
.step-4::before{
	background-color: var(--color-primary);
	border-radius:50%;
}
.step-success::before{
	background-color: var(--color-green);
	border-radius:50%;
}
.step-success::after{
	content:"";
	width:10px;
	height:4px;
	position:absolute;
	border-left:solid 3px var(--color-white);
	border-bottom:solid 3px var(--color-white);
	border-radius:20%;
	transform: rotate(-45deg);
	top:10px;
	left:9px;
}

.button{
	height: 50px;
	border-radius: 3px;
	padding:15px 45px;
	color:var(--color-white);
	border:none;
	font-size:14px;
	line-height:1.36;
	font-family: 'Arial', sans-serif;
	display: inline-block;
}
.button_primary{
	background-color: var(--color-primary);
}
.button_primary:hover{
	color: var(--color-secondary);
}
.button_secondary{
	background-color: var(--color-secondary);
}
.button_secondary:hover{
	color:var(--color-primary);
}

.button_icon{
	text-align:left;
	position:relative;
	color:var(--color-white);
	background-color: var(--color-primary);
	min-width:150px;
}
.button_icon::before{
	content:"";
	width:16px;
	height:16px;
	position:absolute;
	right:25px;
	top:17px;
	background:url("icon/icon-basket-copy-3.svg") no-repeat center center;
}
.button_icon:hover{
	color:var(--color-secondary);
}
.button_icon:hover::before{
	background:url("icon/icon-basket-copy-4.svg") no-repeat center center;
}
.button_icon:active{
	color:var(--color-white);
}
.button_icon:active::before{
	background:url("icon/icon-thick-check.svg") no-repeat center center;
}
input[type="checkbox"],
input[type="radio"]
{
	display:none;
}

input[type="checkbox"]:hover+.label,
input[type="radio"]:hover+.label,
input[type="checkbox"]:checked+.label,
input[type="radio"]:checked+.label
{
	font-weight:bold;
}
.label{
	padding-left:30px;
	position:relative;
}
.label::before
{
	content:"";
	width:16px;
	height:16px;
	border-radius:2px;
	border: solid 1px #dddddd;
	background-color: #f9f4f4;
	position:absolute;
	box-sizing: border-box;
	top:0;
	left:0;
}
input[type="radio"]+.label::before
{
	border-radius:50%;
}
.label:hover::before
{
	border-color:var(--color-secondary);
}

input[type="radio"]:checked+.label::before{
	border:solid 5px var(--color-primary);
}
input[type="checkbox"]:checked+.label::before{
	background-color:var(--color-primary);
	border-color:var(--color-primary);
}
input[type="checkbox"]:checked+.label::after{
	content:"";
	width:7px;
	height:3px;
	position:absolute;
	border-left:solid 2px var(--color-white);
	border-bottom:solid 2px var(--color-white);
	border-radius:10%;
	transform: rotate(-45deg);
	top:5px;
	left:3px;
}

.toggle{
	width:60px;
	height:26px;
	border-radius:20px;
	position:relative;
	transition: all 1s ease;
}
.toggle__off{
	background-color:var(--color-secondary);
}
.toggle__on{
	background-color:var(--color-primary);
}
.toggle__off::before,
.toggle__on::before,
.toggle__off::after,
.toggle__on::after{
	width: 18px;
	height: 18px;
	position:absolute;
	top:4px;
	content:"";
}
.toggle__off::before,
.toggle__on::before{
	background-color: #f9f4f4;
	border-radius:50%;
}
.toggle__off::before{
	left:6px;
}
.toggle__on::before{
	left:37px;
}
.toggle__off::after{
	background:url("icon/close.svg") no-repeat center center;
	left:37px;
}
.toggle__on::after{
	background:url("icon/icon-thick-check.svg") no-repeat center center;
	left:6px;
}

.modal{
	padding:40px 0 45px 0;
	max-width: 600px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.11);
	background-color: #f9f4f4;
	border-bottom: solid 2px var(--color-primary);
}
.modal__oval{
	width:80px;
	height:80px;
	margin:0 auto;
	border:solid 2px var(--color-primary);
	border-radius:50%;
	background:url("icon/icon-thick-check-green.svg") no-repeat center center;
	margin-bottom:25px;
}
.modal__info{
	text-align:center;
}

.notificiant-banner{
	max-width: 600px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.11);
	background-color: #f9f4f4;
	border-bottom: solid 2px;
	padding:15px 60px;
	position:relative;
}
.notificiant-banner__title{
	font-size:18px;
	font-weight: bold;
}
.notificiant-banner__info{
	font-size: 14px;
	line-height: 1.36;
}
.notificiant-banner_green{
	border-bottom-color:var(--color-green);
}
.notificiant-banner_green::before{
	content:"";
	width:15px;
	height:6px;
	position:absolute;
	border-left:solid 3px var(--color-green);
	border-bottom:solid 3px var(--color-green);
	border-radius:20%;
	transform: rotate(-45deg);
	top:24px;
	left:22px;
}
.notificiant-banner_red{
	border-bottom-color:var(--color-red);
}
.notificiant-banner_red::before,
.notificiant-banner_yellow::before{
	content:"";
	width:30px;
	height:30px;
	position:absolute;
	border:solid 1px var(--color-red);
	border-radius:50%;
	top:14px;
	left:14px;
}
.notificiant-banner_red .notificiant-banner__title::after,
.notificiant-banner_yellow .notificiant-banner__title::after{
	content:"?";
	width:30px;
	height:30px;
	position:absolute;
	color:var(--color-red);
	top:21px;
	left:25px;
	font-weight:bold;
}
.notificiant-banner_yellow{
	border-bottom-color:var(--color-yellow);
}
.notificiant-banner_yellow::before{
	border-color:var(--color-yellow);
}
.notificiant-banner_yellow .notificiant-banner__title::after{
	content:"!";
	color:var(--color-yellow);
	left:27px;
}
.notificiant-banner::after,
.notificiant-banner-small::after{
	content:"";
	background: url("icon/close-copy-2.svg") no-repeat center center;
	width:16px;
	height:16px;
	position:absolute;
	top:25px;
	right:18px;
}
.notificiant-banner-small{
	max-width:600px;
	padding:5px 15px;
	position:relative;
}
.notificiant-banner-small__info{
	line-height: 1.71;
	font-size:14px;
}
.notificiant-banner-small_red{
	background-color:var(--color-red);
}
.notificiant-banner-small_yellow{
	background-color:var(--color-yellow);
}
.notificiant-banner-small_green{
	background-color:var(--color-green);
}
.notificiant-banner-small::after{
	top:8px;
}
.input{
	border-radius: 3px;
	height:50px;
	border: solid 1px #dddddd;
	font-size: 14px;
	font-weight: bold;
	padding:15px;
	color:var(--color-secondary);
	width:400px;
	display:inline-block;
}
.input-wrapper{
	position:relative;
	margin-bottom:25px;
	display:inline-block;
}
.input-required:valid:not(:placeholder-shown){
	background:url("icon/icon-thick-check-green.svg") no-repeat 370px center;
	background-size:20px 10px;
}

.input-required{
		padding-right:40px;
}
.input-required:invalid:not(:placeholder-shown){
	color:var(--color-red);
}
.input-required:invalid:not(:placeholder-shown)~.requirement{
	display: block;
}
.requirement{
	color:var(--color-red);
	display:none;
	font-size: 11px;
	position:absolute;
}
.requirement-info{
	left:0px;
}
.requirement-sign{
	right:15px;
	top:16px;
	font-size: 16px;
	font-weight: bold;
}
.input-search{
	width:300px;
	padding-left:45px;
	background:url("icon/icon-search.svg") no-repeat 15px center;
}
.input-search:active{
	border-color:#55acee;
}
.label-input{
	font-size: 14px;
	font-weight: bold;
	color:#858585;
	margin-right:15px;
}
.label,
.toggle,
.button,
.select,
.notificiant-banner-small,
.notificiant-banner
{
	cursor: pointer;
}

::-webkit-input-placeholder {color:#7c8495;font-weight: 300;font-family: 'Lato', sans-serif;}
::-moz-placeholder          {color:#7c8495;font-weight: 300;font-family: 'Lato', sans-serif;}
:-moz-placeholder           {color:#7c8495;font-weight: 300;font-family: 'Lato', sans-serif;}
:-ms-input-placeholder      {color:#7c8495;font-weight: 300;font-family: 'Lato', sans-serif;}
.disabled{
	opacity:var(--opacity-disabled);
}



























.header{
	padding:25px 215px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
}
.wrapper{
	.background-color:var(--color-light);

}
.logo{
	float:left;
	width:145px;
	height:60px;
	background-image:url("png/logo.png");

}
.nav{
	float:right;
	margin-top:20px;
}
.nav__menu,
.app__menu{
	list-style:none;
}
.nav__menu__item{
	display:inline-block;
	margin-right:40px;
}
.nav__menu__item:last-child{
	margin-right:0;
}
.nav__menu__item a{
	text-decoration:none;
	display:block;
	text-transform:uppercase;
	color:var(--color-secondary);
	font-size:18px;
}
.nav__menu__item a:hover,
.app__menu__item__info:hover{
	color:var(--color-red);

}
.content-wrapper{
	background-color:var(--color-light);
	padding:50px 210px;
}
.content{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	padding:25px 60px;
}
.content__top{
	margin-bottom:30px;
}
.content__top__header__h{
	float:left;
}
.content__top__header__input{
	float:right;
}
.content__top__header{
	border-bottom:solid 1px #d8d8d8;
	padding-bottom:15px;
	margin-bottom: 25px;

}
.app-pack{
	display:inline-block;
	margin-right:30px;
	margin-bottom:30px;
}
.app-pack:last-child{
	margin-right:0;
}
.app-pack__img{
	width:330px;
	height:198px;
	background-size:content;
	margin-bottom:15px;
}
.app-pack__img_1{
	background: url("png/shot-1_2018-11-05/shot-1.png") no-repeat;
}
.app-pack__img_2{
	background: url("png/shot-2_2018-11-05/shot-2.png") no-repeat;
}
.app-pack__img_3{
	background: url("png/shot-3_2018-11-05/shot-3.png") no-repeat;
}
.app-pack__name{
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:5px;
}
.app-pack__time{
	color:var(--color-light-grey);
	font-size:16px;
}

.wrapper__header{
	border-bottom:solid 1px #d8d8d8;
	margin-bottom:40px;
}
.content__bottom__block{
	display:inline-block;
	width:485px;
	margin-right:40px;
	vertical-align: top;
}
.wrapper__header__h{
	float:left;
	margin-bottom:20px;
}


.app__menu a{
	display:block;
	text-decoration:none;
	font-size: 20px;
}
.app__menu__item{
	margin-bottom:30px;
	margin-left:50px;
	position:relative;
}
.app__menu__item::before{
	content:"";
	width:32px;
	height:32px;
	position:absolute;
	background:url("icon/icon-arrow-right-copy-2.svg") no-repeat center center;
	top:-10px;
	left:-40px;
}
.app__menu__item__name{
	color: var(--color-secondary);
	margin-bottom:20px;
}
.app__menu__item__name:hover{
	text-decoration:underline;
}

.app__menu__item__info{
	color:var(--color-light-grey);
}

.catalog{
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
	padding:40px 25px;
	margin-right:25px;
	float:left;
}
.catalog__nav__menu,
.catalog__nav__menu a{
	color:var(--color-grey);
}
.catalog__nav__menu a{
	margin-left:10px;
}
.catalog__nav__menu a:hover{
	color:var(--color-red);
	text-decoration: underline;
}
.catalog__nav__menu{
	list-style:disc;
	margin-left:20px;
}
.catalog-content{
	padding: 40px 30px;
}
.category-content{
	float:left;
	padding:30px 0px;
	max-width:790px;

}
.catalog__nav__menu__item{
	margin-bottom:20px;
}
.category-content_h{
	margin-left:40px;
	margin-bottom:20px;
}
.col-1{
	width:15%;
	padding:10px 15px 10px 35px;
}
.col-2{
	width:30%;
	padding-right:40px;
}
.col-3{
	width:40%;
	padding-right:80px;
	font-size:13px;
}
.col-4{
	padding-right:40px;
	width:15%;
	font-size:18px;
}
.row{
	max-height:80px;
}
.row-tr th{
	text-align: left;
	font-weight: normal;
	padding:5px 0;
	padding-right:40px;
	font-size:var(--font-size-other);
}
.table-catalog tr:nth-child(odd){
	background-color:var(--color-light);
}
.table-catalog{
	border-collapse: collapse;
}
.table-catalog__name{
	font-size:16px;
	color:#79878e;
	margin-bottom:5px;
}
.table-catalog__time{
	font-size:13px;
}





.category-content_padding40{
	padding-left:40px;
	padding-right:40px;
}
.wrapper__header__h_margin10{
	margin-bottom:10px;
}
.new-bank{
	margin-bottom:40px;
}
.new-bank__info{
	max-width:390px;
	margin-right:50px;
}
.new-bank__info__about,
.new-bank__info__requirements
{
	color:var(--color-grey);
	font-size:20px;
	line-height: 25px;
}
.new-bank__time{

}
.new-bank__info__about{
	margin:10px 0 40px 0;
}
.new-bank__info,
.new-bank__info2
{
	display:inline-block;
	vertical-align: top;
}
.new-bank__info2{
	text-align:center;
}
.new-bank__info2__img{
	margin-bottom:20px;
}
.new-bank__functions__h{
	font-size:22px;
	text-transform:uppercase;

	font-weight:normal;
}
.functions__list{
	margin-left:20px;
}
.functions__list__item{
	margin-bottom:40px;
	line-height: 1.72;
	font-size: 18px;
}
.functions__list__item_p{
	margin-left:10px;
}





.basket{
	padding:80px 80px 130px 80px;
	position:absolute;
	left:auto;
	top:auto;
	background-color:#fff;
	max-width: 1280px;
}
.basket__stages{
	margin-bottom:100px;
}
.basket__table{
	border-collapse: collapse;
	width:100%;
}
.basket__table__td__img,
.basket__table__td__label{
	display:inline-block;
	vertical-align:middle;
}
.basket__table__td__img{
	margin-right:40px;
}
.basket__table__tr{

}
.basket__table__tr{
	border-bottom:solid 1px #d8d8d8;
	padding:15px 0;
}
.basket__table__th{
	text-transform:uppercase;
	color:var(--color-grey);
	font-size:12px;
	text-align: left;
	padding-bottom:20px;
}
.basket__table__td{
	padding:35px 0;
	font-size: 20px;
}
.basket__table__td__h{
	margin-bottom:10px;
}
.basket__table__checkbox-label{
	font-size:12px;
	color:var(--color-grey);
}
.basket__table__td_1{
	width:45%;
}
.basket__table__td_2{
	width:30%;

}
.basket__table__td_3{
	width:25%;
}
.basket__to-order{
	padding:70px 110px;
	text-align:right;
}
.basket__to-order__dollars{
	font-size: 36px;
}
.basket__to-order__cents{
	color:var(--color-grey);
	font-size:20px;
	vertical-align: top;
	margin-right:100px;
}
.color-secondary{
	color:var(--color-secondary);
}
.clearfix::after{
	content:"";
	clear:both;
	display:block;
}
.table-catalog__name:hover,
.table-catalog__time:hover,
.logo:hover{
		cursor:pointer;
}
